.about {
    padding: 120px 0;
    max-width: 1720px;
    margin: 0 auto;
}

.about div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    margin-bottom: 30px;
    font-style: italic;
}

.about p {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.imageContainer {
    display: flex;
    gap: 2rem;
}

.imageContainer img {
    width: 100%;
}

.imageContainer h3 {
    margin: 20px 0;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    text-align: left;
}


@media(max-width: 990px) {
    .about {
        padding: 80px 0;
    }

    .about h2 {
        font-size: 46px;
        line-height: 56px;
    }

    .about h3 {
        font-size: 24px;
        line-height: 34px;
    }

}

@media (max-width: 780px) {
    .about {
        padding: 60px 0;
    }

    .about h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .about p {
        width: 100%;
    }

    .imageContainer {
        flex-direction: column;
    }
}

@media (max-width: 479px) {
    .about {
        padding: 40px 0;
    }

    .about h2 {
        font-size: 30px;
        line-height: 40px;
    }
}